body {
  background: linear-gradient(to left, #282c34, black);
  color: white;
}

.top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #14171b;
  padding: 2rem 3rem;
}

.top-navbar > ul,
.top-navbar a {
  display: flex;
  color: white;
  text-decoration: none;
  gap: 2rem;
}

.article {
  border: 1px solid #555d6d;
  padding: 2rem;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  text-align: center;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

button {
  color: white;
  background-color: transparent;
  border: 1px solid #555d6d;
  border-radius: 2rem;
  padding: 1rem 2rem;
  transition: all 200ms ease;
}

button:hover {
  color: #000000;
  background-color: #555d6d;
  border: 1px solid #555d6d;
}

@media only screen and (max-width: 767px) {
  .articles {
    display: flex;
    flex-direction: column;
  }
}


